.Link{
    text-decoration: none;
    
}

.modal-backdrop{
    opacity: 1 !important;
    background-color: transparent !important;
}

.table-scroll{
    overflow-x: auto;
    max-width: 100%;
}
Table {
  width: 100%; /* Make the table take 100% width of its container */
}
.thead-sticky {
    position: sticky;
     z-index: 1;
  }


  .modalheight{
    height: 1000px;
  }

/* CSS */
.active-checkbox {
    background-color: green; /* Change to your desired color for active status */
  }
  
  .inactive-checkbox {
    background-color: red; /* Change to your desired color for inactive status */
  }
  
li{
    list-style:none;
}